<!DOCTYPE html>
<html ng-app="numboard">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="js/numboard.js"></script>
    <title>Num Board</title>
</head>
<body>
<div class="container">
    <div class="page-header"><h1>Number Board</h1></div>
    <div ng-controller="NumBoardCtrl">
        <div class="text-center"><h2 class="text-success">{{timer}} sec</h2></div>
        <div class="col-xs-12" ng-repeat="posY in sizeArray">
            <p>
            <div class="col-xs-2" ng-repeat="posX in sizeArray">
                <button class="btn btn-default btn-block" style="visibility: {{visibility(posX, posY)}}"
                        ng-click="change(posX, posY, true)"><h1>{{display(posX, posY)}}</h1></button>
            </div>
            </p>
        </div>
        <p> -- </p>

        <div class="text-center">
            <a class="btn btn-lg btn-warning" ng-click="shuffle()">Shuffle</a>
            <a class="btn btn-lg btn-primary" ng-click="start()">Start</a>
        </div>
    </div>
</div>
</body>
</html>